body {
  font-family: "Comic Sans MS";
}

header,
main,
footer {
  height: auto;
}

main .form-container {
  margin-top: 25px;
  margin-bottom: 25px;
  position: static;
}

header h1 {
  margin: 15px;
}
/*footer{
	position: absolute;
    width: 100%;
    bottom: 0;
}*/

header > *,
footer .content > * {
  padding: 0;
  margin: 0;
}

main form {
  background: #f5f5f5;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}
form legend {
  text-align: center;
  margin-bottom: 25px;
}
main .form-container {
  max-width: auto;
}

header,
footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}
.form-group {
  /* margin-bottom: 15px;*/
}
.form-group .feedback {
  font-size: 12px;
  opacity: 0;
  text-transform: capitalize;
}

.form-group .feedback.invalid-feedback,
.form-group .feedback.valid-feedback {
  opacity: 1;
}
@media (min-height: 750px) {
  header {
    height: 12vh;
  }
  main {
    position: relative;
    height: 83vh;
  }
  footer .content {
    height: 5vh;
  }

  main .form-container {
    position: absolute;
    max-width: 750px;
    margin: 0 auto;
    transform: translate(-50%, 20%);
    left: 50%;
  }
}

@media (max-width: 750px) {
  main .form-container {
    position: relative;
    left: 0;
    transform: none;
    margin: 20px;
    margin-top: 25px;
  }
}
